.bar {
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.bar .bar__time {
  color: black;
  font-size: 16px;
}

.bar .bar__progress {
  flex: 1;
  border-radius: 5px;
  margin: 0 20px;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bar .bar__progress .bar__progress__knob {
  position: relative;
  height: 16px;
  width: 16px;
  border: 1.5px solid white;
  border-radius: 50%;
  background-color: orange;
}